<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form>
        <h3>JSF Login Logout</h3>
        <h:outputText value="Enter Username: " />
        <h:inputText id="username" value="#{user.name}"/>
        <h:message for="username"/>
        <br/>
        <br/>
        <h:outputText value="Enter Password: " />
        <h:inputSecret id="password" value="#{user.pass}"/>
        <h:message for="password"/>
        <h:commandButton value="Save" action="#{user.tryLoggingIn}"/>
    </h:form>
</html>
